.row
  .small-24.columns.page_top
    = @genre.name

.row
  .small-8.columns
    = t('activerecord.attributes.genre.name')
  .small-16.columns
    = @genre.name

%br
.row
  .small-24.columns
    = link_to t('edit'), edit_genre_path(@genre), :class => 'button'
    = link_to t('delete'), @genre, :method => :delete, :data => {:confirm => t('are_you_sure')}, :class => 'button'

