= simple_form_for(@band_musician) do |f|
  = f.error_notification

  .form-inputs
    = f.association :band
    = f.association :musician
    = f.input :since, start_year: Date.today.year - 110, end_year: Date.today.year
    = f.input :until, start_year: Date.today.year - 110, end_year: Date.today.year
    = f.input :current

  .form-actions.float-right
    = f.button :submit, :class => 'button'

