= simple_form_for(@band_musician) do |f|
  = f.error_notification

  .form-inputs
    = f.association :band, :selected => @band_id
    = f.association :musician, :selected => @musician_id
    = f.input :since, start_year: Date.today.year - 110, end_year: Date.today.year, :default => default_date
    = f.input :until, start_year: Date.today.year - 110, end_year: Date.today.year, :default => default_date
    = f.input :current

  .form-actions.float-right
    = f.button :submit, :class => 'button'

