.row
  .small-24.columns.page_top
    = t('band_musicians')

.row
  .small-24.columns
    %table
      %thead
        %tr
          %th
            = t('activerecord.attributes.band_musician.band')
          %th
            = t('activerecord.attributes.band_musician.musician')
          %th
            = t('activerecord.attributes.band_musician.since')
          %th
            = t('activerecord.attributes.band_musician.until')
          %th
            = t('activerecord.attributes.band_musician.current')
          %th
          %th
          %th

      %tbody
        - @band_musicians.each do |band_musician|
          %tr
            %td= link_to band_musician.band.name, band_musician.band
            %td= link_to band_musician.musician.name, band_musician.musician
            %td= band_musician.since
            %td= band_musician.until
            %td= band_musician.current
            %td= link_to t('show'), band_musician
            %td= link_to t('edit'), edit_band_musician_path(band_musician)
            %td= link_to t('destroy'), band_musician, :method => :delete, :data => {:confirm => t('are_you_sure')}

    %br

    = link_to t('generic.new_model', :name => BandMusician.model_name.human), new_band_musician_path, :class => 'button'

