%h1 Listing album_types

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @album_types.each do |album_type|
      %tr
        %td= album_type.name
        %td= link_to 'Show', album_type
        %td= link_to 'Edit', edit_album_type_path(album_type)
        %td= link_to 'Destroy', album_type, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Album type', new_album_type_path
