.row
  .small-24.columns.page_top
    = t('band_photos')

.row
  .small-24.columns
    %table
      %thead
        %tr
          %th
            = t('activerecord.attributes.band_photo.name')
          %th
            = t('activerecord.attributes.band_photo.band')
          %th
          %th
          %th

      %tbody
        - @band_photos.each do |band_photo|
          %tr
            %td= band_photo.name
            %td= band_photo.band.try(:name)
            %td= link_to t('show'), band_photo
            %td= link_to t('edit'), edit_band_photo_path(band_photo)
            %td= link_to t('destroy'), band_photo, :method => :delete, :data => {:confirm => t('are_you_sure')}

    %br

    = link_to t('generic.new_model', :name => BandPhoto.model_name.human), new_band_photo_path, :class => 'button'

