= simple_form_for(@musician) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :birthdate, start_year: Date.today.year - 110, end_year: Date.today.year
    = f.input :country
    = f.input :website
    = f.association :musician_labels, :as => :check_boxes, :label => t('musician_labels')
    = f.input :biography, :input_html => {:rows => 10}

  .form-actions.float-right
    = f.button :submit, :class => 'button'

