.row
  .small-24.columns.page_top
    = t('generic.editing', :name => @musician.name)

.row
  .small-24.columns
    = render 'form'

.row
  .small-24.columns
    = link_to t('cancel'), @musician, :class => 'button'
    = link_to t('add_image'), new_musician_photo_path(:musician_id => @musician.id), :class => 'button'
    = link_to t('delete'), @musician, :method => :delete, :data => {:confirm => t('are_you_sure')}, :class => 'button'

