.row
  .small-24.columns.page_top
    = t('album_labels')

.row
  .small-24.columns
    %table
      %thead
        %tr
          %th
            = t('activerecord.attributes.album_label.name')
          %th
          %th
          %th

      %tbody
        - @album_labels.each do |album_label|
          %tr
            %td= album_label.name
            %td= link_to t('show'), album_label
            %td= link_to t('edit'), edit_album_label_path(album_label)
            %td= link_to t('destroy'), album_label, :method => :delete, :data => {:confirm => t('are_you_sure')}

    %br

    = link_to t('generic.new_model', :name => AlbumLabel.model_name.human), new_album_label_path, :class => 'button'

