%h1 Listing album_labels

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @album_labels.each do |album_label|
      %tr
        %td= album_label.name
        %td= link_to 'Show', album_label
        %td= link_to 'Edit', edit_album_label_path(album_label)
        %td= link_to 'Destroy', album_label, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Album label', new_album_label_path
