= simple_form_for(@musician_photo) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.association :musician, :selected => @musician_id
    = f.input :image, :as => :file

  .form-actions.float-right
    = f.button :submit, :class => 'button'

