.row
  .small-24.columns.page_top
    = t('generic.editing', :name => @musician_photo.name)

.row
  .small-24.columns
    = @musician_photo.name

.row
  .small-24.columns
    = link_to @musician_photo.musician.name, @musician_photo.musician

%br
.row
  .small-24.columns
    = image_tag @musician_photo.image.url

%br
.row
  .small-24.columns
    = link_to t('edit'), edit_musician_photo_path(@musician_photo), :class => 'button'
    = link_to t('delete'), @musician_photo, :method => :delete, :data => {:confirm => t('are_you_sure')}, :class => 'button'

