.row
  .small-24.columns.page_top
    = t('band_labels')

.row
  .small-24.columns
    %table
      %thead
        %tr
          %th
            = t('activerecord.attributes.band_label.name')
          %th
          %th
          %th

      %tbody
        - @band_labels.each do |band_label|
          %tr
            %td= band_label.name
            %td= link_to t('show'), band_label
            %td= link_to t('edit'), edit_band_label_path(band_label)
            %td= link_to t('delete'), band_label, :method => :delete, :data => {:confirm => t('are_you_sure')}

    %br

    = link_to t('generic.new_model', :name => BandLabel.model_name.human), new_band_label_path, :class => 'button'

