.row
  .small-24.columns.page_top
    = @band_label.name

.row
  .small-8.columns
    = t('activerecord.attributes.band_label.name')
  .small-16.columns
    = @band_label.name

%br
.row
  .small-24.columns
    = link_to t('edit'), edit_band_label_path(@band_label), :class => 'button'
    = link_to t('delete'), @band_label, :method => :delete, :data => {:confirm => t('are_you_sure')}, :class => 'button'

