.row
  .small-24.columns.page_top
    = t('album_comments')

.row
  .small-24.columns
    %table
      %thead
        %tr
          %th
            = t('activerecord.attributes.album_comment.album')
          %th
            = t('activerecord.attributes.album_comment.user')
          %th
            = t('activerecord.attributes.album_comment.publish')
          %th
            = t('activerecord.attributes.album_comment.comment')
          %th
          %th
          %th

      %tbody
        - @album_comments.each do |album_comment|
          %tr
            %td= link_to album_comment.album.name, album_comment.album
            %td= link_to album_comment.user.name,  album_comment.user
            %td= album_comment.publish
            %td= album_comment.comment
            %td= link_to t('show'), album_comment
            %td= link_to t('edit'), edit_album_comment_path(album_comment)
            %td= link_to t('delete'), album_comment, :method => :delete, :data => {:confirm => t('are_you_sure')}

    %br

    = link_to t('generic.new_model', :name => AlbumComment.model_name.human), new_album_comment_path, :class => 'button'

