%h1 Listing album_comments

%table
  %thead
    %tr
      %th Album
      %th User
      %th Publish
      %th Comment
      %th
      %th
      %th

  %tbody
    - @album_comments.each do |album_comment|
      %tr
        %td= album_comment.album
        %td= album_comment.user
        %td= album_comment.publish
        %td= album_comment.comment
        %td= link_to 'Show', album_comment
        %td= link_to 'Edit', edit_album_comment_path(album_comment)
        %td= link_to 'Destroy', album_comment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Album comment', new_album_comment_path
