%p#notice= notice

%p
  %b Album:
  = @album_comment.album
%p
  %b User:
  = @album_comment.user
%p
  %b Publish:
  = @album_comment.publish
%p
  %b Comment:
  = @album_comment.comment

= link_to 'Edit', edit_album_comment_path(@album_comment)
\|
= link_to 'Back', album_comments_path
