.row
  .small-24.columns.page_top
    = t('musician_labels')

.row
  .small-24.columns
    %table
      %thead
        %tr
          %th
            = t('activerecord.attributes.musician_label.name')
          %th
          %th
          %th

      %tbody
        - @musician_labels.each do |musician_label|
          %tr
            %td= musician_label.name
            %td= link_to t('show'), musician_label
            %td= link_to t('edit'), edit_musician_label_path(musician_label)
            %td= link_to t('delete'), musician_label, :method => :delete, :data => {:confirm => t('are_you_sure')}

    %br

    = link_to t('generic.new_model', :name => MusicianLabel.model_name.human), new_musician_label_path, :class => 'button'

