= simple_form_for(@album) do |f|
  = f.error_notification

  .form-inputs
    - if @edit_labels
      = f.association :album_labels, :as => :check_boxes, :label => t('album_labels')
    - else
      = f.input :name
      = f.association :album_type
      = f.association :band
      = f.input :date, start_year: Date.today.year - 110, end_year: Date.today.year, :default => default_date
      = f.input :end_date, start_year: Date.today.year - 110, end_year: Date.today.year, :default => default_date

  .form-actions.float-right
    = f.button :submit, :class => 'button'

