.row
  .small-24.columns.page_top
    = t('albums')

.row
  .small-24.columns
    %table#albums_table.serverside_datatables{'data-source' => albums_path}
      %thead
        %tr
          %th
            = t('activerecord.attributes.album.name')
          %th.datatable_no_search
            = t('activerecord.attributes.album.album_type')
          %th.datatable_no_search
            = t('activerecord.attributes.album.date')
          %th.datatable_no_search
            = t('activerecord.attributes.album.end_date')
          /%th.datatable_no_search.datatable_no_order
          %th.datatable_no_search.datatable_no_order
          %th.datatable_no_search.datatable_no_order

      %tbody
      /  - @albums.each do |album|
      /    %tr
      /      %td= album.name
      /      %td= album.album_type
      /      %td= album.date
      /      %td= album.end_date
      /      %td= link_to 'Show', album
      /      %td= link_to 'Edit', edit_album_path(album)
      /      %td= link_to 'Destroy', album, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to t('generic.new_model', :name => Album.model_name.human), new_album_path, :class => 'button'

