%p#notice= notice

%p
  %b Name:
  = @album.name
%p
  %b Album type:
  = @album.album_type
%p
  %b Date:
  = @album.date
%p
  %b End date:
  = @album.end_date

= link_to 'Edit', edit_album_path(@album)
\|
= link_to 'Back', albums_path
