.row
  .small-24.columns.page_top
    = @album.name
.row
  .small-8.columns
    = t('activerecord.attributes.album.album_type')
  .small-16.columns
    = @album.album_type.try(:name)
.row
  .small-8.columns
    = t('activerecord.attributes.album.band')
  .small-16.columns
    - if @album.band
      = link_to @album.band.name, @album.band
.row
  .small-8.columns
    = t('activerecord.attributes.album.date')
  .small-16.columns
    = @album.date.try(:year)
.row
  .small-8.columns
    = t('activerecord.attributes.album.end_date')
  .small-16.columns
    = @album.end_date.try(:year)
.row
  .small-8.columns
    = t('activerecord.attributes.album.genres')
  .small-16.columns
    = @album.genres.pluck(:name).join(', ')
.row
  .small-8.columns
    = t('activerecord.attributes.album.album_labels')
  .small-16.columns
    = @album.album_labels.pluck(:name).join(', ')

%fieldset.fieldset
  %legend
    = t('album_covers')
  .row
    .small-24.columns
      - @album.album_covers.each do |photo|
        - reveal_id = "image_reveal_#{photo.id}"
        %a{'data-open' => reveal_id}
          = image_tag photo.image.url(:small), :class => 'thumbnail medium_image', :alt => photo.name, :title => photo.name
        .reveal{:id => reveal_id, 'data-reveal' => ''}
          .text_italic
            = photo.name
          = image_tag photo.image.url(:original)
          %button.close-button{'data-close' => '', 'aria-label' => t('close')}
            %span{'aria-hidden' => 'true'}
              &times;

%fieldset.fieldset
  %legend
    = t('musicians')
  - @album.album_musicians.each do |album_musician|
    - musician = album_musician.musician
    .row
      .small-12.columns
        = link_to musician.name, musician
        - if album_musician.is_guest
          (
          = t('guest')
          )
      .small-12.columns
        = album_musician.instrument


%fieldset.fieldset
  %legend
    = t('tracks')
  - @album.album_tracks.each do |tracklist|
    .row
      .small-24.columns
        %b
          = tracklist.name
    .row
      .small-24.columns
        %table
          %tbody
            - tracklist.tracks.each_with_index do |(name, time), ix|
              %tr
                %td
                  = ix
                %td
                  = time
                %td
                  = name
%br
- @album.album_comments.each do |comment|
  .row
    .small-8.columns
      %b
        = link_to comment.user.name, comment.user
    .small-8.columns
      = comment.comment
    .small-8.columns
      = format_time(comment.created_at)

%br
.row
  .small-24.columns
    = link_to t('edit'), edit_album_path(@album), :class => 'button'
    = link_to t('edit_labels'), edit_album_path(@album, :edit_labels => true), :class => 'button'

