%h1 Listing album_tracks

%table
  %thead
    %tr
      %th Name
      %th Album
      %th Tracks
      %th
      %th
      %th

  %tbody
    - @album_tracks.each do |album_track|
      %tr
        %td= album_track.name
        %td= album_track.album
        %td= album_track.tracks
        %td= link_to 'Show', album_track
        %td= link_to 'Edit', edit_album_track_path(album_track)
        %td= link_to 'Destroy', album_track, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Album track', new_album_track_path
