.row
  .small-24.columns.page_top
    = t('album_tracks')

.row
  .small-24.columns
    %table#albums_tracks_table.serverside_datatables{'data-source' => album_tracks_path}
      %thead
        %tr
          %th
            = t('activerecord.attributes.album_track.name')
          %th.datatable_no_search
            = t('activerecord.attributes.album_track.album')
          %th.datatable_no_search
            = t('activerecord.attributes.album_track.tracks')
          /%th.datatable_no_search.datatable_no_order
          %th.datatable_no_search.datatable_no_order
          %th.datatable_no_search.datatable_no_order

      %tbody
      /  - @album_tracks.each do |album_track|
      /    %tr
      /      %td= album_track.name
      /      %td= link_to album_track.album, album_track.album.name
      /      %td= album_track.tracks
      /      %td= link_to t('show'), album_track
      /      %td= link_to t('edit'), edit_album_track_path(album_track)
      /      %td= link_to t('destroy'), album_track, :method => :delete, :data => {:confirm => t('are_you_sure')}

    %br

    = link_to t('generic.new_model', :name => AlbumTrack.model_name.human), new_album_track_path, :class => 'button'

