.row
  .small-24.columns.page_top
    = t('album_tracks')

.row
  .small-24.columns
    %table#albums_tracks_table.serverside_datatables{'data-source' => album_tracks_path}
      %thead
        %tr
          %th
            = t('activerecord.attributes.album_track.name')
          %th.datatable_no_search
            = t('activerecord.attributes.album_track.album')
          %th.datatable_no_search
            = t('activerecord.attributes.album_track.tracks')
          /%th.datatable_no_search.datatable_no_order
          %th.datatable_no_search.datatable_no_order
          %th.datatable_no_search.datatable_no_order

      %tbody

    %br

    = link_to t('generic.new_model', :name => AlbumTrack.model_name.human), new_album_track_path, :class => 'button'

