= simple_form_for(@album_cover) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.association :album, :selected => @album_id
    = f.input :image, :as => :file

  .form-actions.float-right
    = f.button :submit, :class => 'button'

