.row
  .small-24.columns.page_top
    = t('album_covers')

.row
  .small-24.columns
    %table
      %thead
        %tr
          %th
          %th
            = t('activerecord.attributes.album_covers.name')
          %th
            = t('activerecord.attributes.album_covers.album')
          %th
          %th
          %th

      %tbody
        - @album_covers.each do |album_cover|
          %tr
            %td= image_tag album_cover.image.url(:small), :class => 'small_image'
            %td= link_to album_cover.name, album_cover
            %td= link_to album_cover.album.name, album_cover.album
            %td= link_to t('show'), album_cover
            %td= link_to t('edit'), edit_album_cover_path(album_cover)
            %td= link_to t('delete'), album_cover, :method => :delete, :data => {:confirm => t('are_you_sure')}

    %br

    = link_to t('generic.new_model', :name => AlbumCover.model_name.human), new_album_cover_path(:album_id => @album_id), :class => 'button'

