= simple_form_for(@band) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :country
    = f.input :website
    = f.association :genres, :as => :check_boxes, :label => t('band_genres')
    = f.association :band_labels, :as => :check_boxes, :label => t('band_labels')
    = f.input :biography, :input_html => {:rows => 10}
    / = f.input :musician_is_band

  /.form-actions.float-right
  .form-actions.small-offset-12.large-offset-18
    = f.button :submit

