.row
  .small-24.columns.page_top
    = t('generic.editing', :name => @band.name)

.row
  .small-24.columns
    = render 'form'

.row
  .small-24.columns
    = link_to t('cancel'), @band, :class => 'button'
    = link_to t('delete'), @band, :method => :delete, :data => {:confirm => t('are_you_sure')}, :class => 'button'
    = link_to t('add_image'), new_band_photo_path(:band_id => @band.id), :class => 'button'
    = link_to t('add_band_url'), new_band_url_path(:band_id => @band.id), :class => 'button'

