.row
  .small-24.columns.page_top
    = @band.name
.row
  .small-8.columns
    = t('activerecord.attributes.band.country')
  .small-16.columns
    = @band.country_name
.row
  .small-8.columns
    = t('activerecord.attributes.band.website')
  .small-16.columns
    - if @band.website
      = link_to @band.website
.row
  .small-8.columns
    = t('genres')
  .small-16.columns
    = @band.genres.pluck(:name).join(', ')
.row
  .small-8.columns
    = t('activerecord.attributes.band.biography')
  .small-16.columns.small-offset-1
    %article
      = simple_format(@band.biography, {}, :sanitize => false)
%br

%fieldset.fieldset
  %legend
    = t('band_photos')
  .row
    .small-24.columns
      - @band.band_photos.each do |photo|
        - reveal_id = "image_reveal_#{photo.id}"
        %a{'data-open' => reveal_id}
          = image_tag photo.image.url(:small), :class => 'thumbnail', :alt => photo.name, :title => photo.name
        .reveal{:id => reveal_id, 'data-reveal' => ''}
          .text_italic
            = photo.name
          = image_tag photo.image.url(:original)
          %button.close-button{'data-close' => '', 'aria-label' => t('close')}
            %span{'aria-hidden' => 'true'}
              &times;

%fieldset.fieldset
  %legend
    = t('band_musicians')
  .small-24.columns
    .row.small-up-1.medium-up-2.large-up-4
      - @band.band_musicians.each do |band_musician|
        - photo = band_musician.musician.musician_photos.first
        .column
          - if photo
            = image_tag photo.image.url(:small), :class => 'thumbnail', :alt => photo.name, :title => photo.name
          = link_to band_musician.musician.name, band_musician.musician
          .text_italic
            - until_str = band_musician.current ? '' : band_musician.until
            = "#{band_musician.since} - #{until_str}"

%fieldset.fieldset
  %legend
    = t('band_urls')
  - @band.band_urls.each do |url|
    .row
      .small-10.columns
        = link_to url.url
      .small-10.columns
        = url.description
      .small-4.columns
        = url.date


%fieldset.fieldset
  %legend
    = t('discography')
  - @band.albums.order(:date).each do |album|
    .row
      .small-8.columns
        = album.date.try(:year)
      .small-16.columns
        = link_to album.name, album

%fieldset.fieldset
  %legend
    = t('related_bands')
  - @band.related_bands.each do |band|
    .row
      .small-24.columns
        = link_to band.name, band

%br
.row
  .small-24.columns
    = link_to t('edit'), edit_band_path(@band), :class => 'button'
    = link_to t('back'), bands_path, :class => 'button'

