.row
  .small-24.columns.page_top
    = t('album_musicians')

.row
  .small-24.columns
    %table
      %thead
        %tr
          %th
            = t('activerecord.attributes.album_musician.album')
          %th
            = t('activerecord.attributes.album_musician.musician')
          %th
            = t('activerecord.attributes.album_musician.instrument')
          %th
            = t('activerecord.attributes.album_musician.is_guest')
          %th
          %th
          %th

      %tbody
        - @album_musicians.each do |album_musician|
          %tr
            %td= link_to album_musician.album, album_musician.album.name
            %td= link_to album_musician.musician, album_musician.musician.name
            %td= album_musician.instrument
            %td= album_musician.is_guest
            %td= link_to t('show'), album_musician
            %td= link_to t('edit'), edit_album_musician_path(album_musician)
            %td= link_to t('delete'), album_musician, :method => :delete, :data => {:confirm => t('are_you_sure')}

    %br

    = link_to t('generic.new_model', :name => AlbumMusician.model_name.human), new_album_musician_path, :class => 'button'

