.row
  .small-24.columns.page_top
    = @album_musician.musician.name

.row
  .small-8.columns
    = t('activerecord.attributes.album_musician.album')
  .small-16.columns
    = link_to @album_musician.album.name, @album_musician.album
.row
  .small-8.columns
    = t('activerecord.attributes.album_musician.musician')
  .small-16.columns
    = link_to @album_musician.musician.name, @album_musician.musician
.row
  .small-8.columns
    = t('activerecord.attributes.album_musician.instrument')
  .small-16.columns
    = @album_musician.instrument
.row
  .small-8.columns
    = t('activerecord.attributes.album_musician.is_guest')
  .small-16.columns
    = @album_musician.is_guest

%br
.row
  .small-24.columns
    = link_to t('edit'), edit_album_musician_path(@album_musician), :class => 'button'
    = link_to t('delete'), @album_musician, :method => :delete, :data => {:confirm => t('are_you_sure')}, :class => 'button'

