.row
  .top-bar
    .top-bar-title
      %span{'data-responsive-toggle' => 'responsive_menu', 'data-hide-for' => 'medium'}
        %button.menu-icon{:type => 'button', 'data-toggle' => ''}
      /%a{:href => '/'}
      /  %i.fi-home
      %span.logo_wrapper
        / = image_tag 'schrodingiller_small.png'
        %i.fi-home
        %i
          Eclectic Pena
    #responsive_menu
      .top-bar-left
        %ul.dropdown.menu.vertical.medium-horizontal{'data-dropdown-menu' => ''}
          %li
            = link_to t('home'), root_path
          %li
            = link_to t('albums'), '#'
            %ul.menu
              %li
                = link_to t('albums'), albums_path
              %li
                = link_to t('album_comments'), album_comments_path
              %li
                = link_to t('album_covers'), album_covers_path
              %li
                = link_to t('album_labels'), album_labels_path
              %li
                = link_to t('album_musicians'), album_musicians_path
              %li
                = link_to t('album_tracks'), album_tracks_path
              %li
                = link_to t('album_types'), album_types_path
          %li
            = link_to t('bands'), bands_path
            %ul.menu
              %li
                = link_to t('bands'), bands_path
              %li
                = link_to t('band_labels'), band_labels_path
              %li
                = link_to t('band_musicians'), band_musicians_path
              %li
                = link_to t('band_photos'), band_photos_path
              %li
                = link_to t('band_urls'), band_urls_path
          %li
            = link_to t('musicians'), musicians_path
            %ul.menu
              %li
                = link_to t('musicians'), musicians_path
              %li
                = link_to t('musician_labels'), musician_labels_path
              %li
                = link_to t('musician_photos'), musician_photos_path
          %li
            = link_to t('genres'), genres_path
          %li
            = link_to t('users'), users_path
      .top-bar-right
        %ul.menu.vertical.medium-horizontal
          - if signed_in?
            %li
              = link_to current_user.email, edit_user_registration_path
            %li
              = link_to t('logout'), destroy_user_session_path, method: :delete
          - else
            %li
              = link_to t('devise.shared.links.sign_up'), new_user_registration_path
            %li
              = link_to t('devise.shared.links.sign_in'), new_user_session_path

